@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

$Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
$Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
$Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
$Dark-Grayish-Cyan: hsl(180, 8%, 52%);
$Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);

$tablet: 768px;

@mixin tablet {
  @media screen and(max-width: $tablet) {
    @content;
  }
}
